---
import Layout from '../../layouts/Layout.astro';
import PartyItem from '../../components/dnd/PartyItem.astro';
import CurrencyDisplay from '../../components/dnd/CurrencyDisplay.astro';

export const prerender = false;

const apiHost = import.meta.env.API_HOST;


const bankResponse = await fetch(apiHost + '/dnd/bankdata');
const bankData = await bankResponse.json();

const itemResponse = await fetch(apiHost + '/dnd/itemdata');
const itemData = await itemResponse.json();
---

<Layout title="Boosted Bonobos" desc="Boosted Bonobos Dungeons & Dragons our party bank, loot, and more.">
    <div class="main-container">
        <div class="gen-container">
            {bankData.coins.map( curr => <CurrencyDisplay currency_type={curr.currency_type} quantity={curr.quantity} />)}
        </div>
        <div class="gen-container">
           {itemData.items.map( item => <PartyItem id={item.id} name={item.Name} description={item.Description} quantity={item.Quantity} />)}
        </div>
    </div>
</Layout>
<style>
    .main-container {
        display: flex;
        flex-direction: column;
    }
    
    .gen-container{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
</style>